body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

body ^^ .table {
  display: table;
}
body ^^ .row {
  display: table-row;
}
body ^^ .cell {
  display: table-cell;
}
body ^^ .category {
  border: 1px solid black;
  width: 800px;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
body ^^ .name,
body ^^ .nominees {
  flex-basis: 20%;
}
body ^^ .nominees {
  flex-grow: 1;
}

body ^^ .nominee {
  display: flex;
  flex-direction: row;
}
