.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
}
.even-column {
  border: 1px solid black;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col {
  border: 1px solid black;
}