body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#container_id {
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}
html {
  overflow-y: scroll;
}
.item {
  margin: 2px;
  padding: 1em;
  border: 2px groove blue;
}

.item img {
  max-width: 80px;
}
.item .summary {
  display: inline;
}

.entities .entity {
  display: inline-block;
  background-color: blue;
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
}